.side-navbar-container {
  grid-column: 1/2;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.page-content {
  grid-column: 2/3;
}

button {
  background: transparent;
  border: transparent;
}

// .page {
//     grid-template-columns: auto 1fr;
// }
