.container {
  padding: 2rem 1rem;
  max-width: 1167px;
  margin-inline: auto;
}

h1 {
  font-size: 3rem;
}

button {
  padding: 1rem 4rem;
  background: transparent;
  border: 2px solid var(--color-dark);
  border-radius: 4px;
  display: block;
  margin-top: 1rem;
}

img {
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding: 5rem 1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    padding-block: 0;
    align-items: center;
  }

  img {
    display: block;
    flex: 1;
  }
}

@media (min-width: 1238px) {
  h1 {
    font-size: 3.5rem;
  }
}
