<div
  class="modal flex align-c justify-c"
  aria-modal="true"
  role="alertdialog"
  aria-labelledby="dialog-title"
  aria-describedby="dialog-description"
>
  <div class="modal-card">
    <div class="modal-card-body">
      <h2 id="dialog-title">Are you sure?</h2>
      <p id="dialog-description">{{ warningText }}</p>
      <div class="action-btns flex flex-column align-c">
        <button class="btn btn-danger" (click)="onDelete.emit()">
          {{ btnDeleteText }}
        </button>
        <button class="btn btn-light" (click)="onClose.emit()">Cancel</button>
      </div>
    </div>
  </div>
  <div class="modal-overlay" role="button" (click)="onClose.emit()"></div>
</div>
