<div class="side-navbar flex justify-between" [ngClass]="sideNavbarCssClasses">
  <div class="side-navbar-header">
    <profile-card [mobileCssClasses]="profileCssClasses"></profile-card>
    <search [mobileCssClasses]="searchCssClasses"></search>
  </div>

  <div class="side-navbar-tabs">
    <side-navbar-tab
      tabName="Home"
      routerLink="home"
      [mobileCssClasses]="navbarTabCssClasses"
    >
      <ng-icon name="ionHomeOutline"></ng-icon>
    </side-navbar-tab>
    <side-navbar-tab
      tabName="My Notes"
      routerLink="notes"
      [mobileCssClasses]="navbarTabCssClasses"
    >
      <ng-icon name="ionNewspaperOutline"></ng-icon>
    </side-navbar-tab>
    <side-navbar-tab
      tabName="To-do-list"
      routerLink="todo-list"
      [mobileCssClasses]="navbarTabCssClasses"
    >
      <ng-icon name="ionCheckmarkOutline"></ng-icon>
    </side-navbar-tab>
    <side-navbar-tab
      tabName="Projects"
      routerLink="projects"
      [mobileCssClasses]="navbarTabCssClasses"
    >
      <ng-icon name="ionNewspaperOutline"></ng-icon>
    </side-navbar-tab>
    <side-navbar-tab
      tabName="Journals"
      routerLink="journal"
      [mobileCssClasses]="navbarTabCssClasses"
    >
      <ng-icon name="ionJournalOutline"></ng-icon>
    </side-navbar-tab>
    <side-navbar-tab
      tabName="Reading List"
      routerLink="reading-list"
      [mobileCssClasses]="navbarTabCssClasses"
    >
      <ng-icon name="ionBookOutline"></ng-icon>
    </side-navbar-tab>
  </div>

  <div class="side-navbar-footer" [ngClass]="navbarFooterCssClasses">
    <a
      class="tab flex card bg-card--light align-c"
      [style]="{ 'margin-bottom': '0.7rem' }"
    >
      <ng-icon name="ionAddOutline"></ng-icon>
      <span [style]="{ 'margin-left': '1rem' }">Add folder</span>
    </a>
    <a
      class="tab flex card bg-card--light align-c"
      [style]="{ 'margin-bottom': '0.7rem' }"
    >
      <ng-icon name="ionSettingsOutline"></ng-icon>
      <span [style]="{ 'margin-left': '1rem' }">Settings</span>
    </a>
  </div>
</div>
