<div class="main grid">
  <div
    class="sidebar grid"
    [ngClass]="{
      mobile_view_single_display: !currentRoutePathIsNotes,
      laptop_view_multi_display: !(isMobile | async) || currentRoutePathIsNotes
    }"
  >
    <div class="heading">
      <h1 #title>My Notes</h1>
      <div class="flex align-c">
        <div class="search">
          <search></search>
        </div>
        <div class="flex action-btns">
          <div role="button" class="icon" (click)="isNoteFormOpen = true">
            <img
              src="assets/icon-svgs/add-file.svg"
              alt="Add file"
              title="Add file"
            />
          </div>
          <div role="button" class="icon" (click)="isFolderFormOpen = true">
            <img
              src="assets/icon-svgs/add-folder.svg"
              alt="Add folder"
              title="Add folder"
            />
          </div>
        </div>
      </div>
      <p class="directory">root/</p>
    </div>

    <div class="notes">
      <ng-container *ngIf="noteService.notes">
        <ng-container *ngFor="let note of notes(); trackById">
          <note-card
            [note]="note"
            (deleteNote)="deleteNote($event)"
            (onTogglePin)="noteService.togglePin($event)"
            [pinned]="noteService.notePinned(note)"
            (openOptions)="isOptionsModalOpen = true"
          ></note-card>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div
    class="editor-container"
    [ngClass]="{
      mobile_view_single_display: currentRoutePathIsNotes,
      laptop_view_multi_display: !(isMobile | async)
    }"
  >
    <router-outlet></router-outlet>
  </div>
</div>

<ng-container *ngIf="isNoteFormOpen">
  <create-note
    (close)="isNoteFormOpen = false"
    (submit)="noteService.createNote($event); isNoteFormOpen = false"
  ></create-note>
</ng-container>

<ng-container *ngIf="isFolderFormOpen">
  <create-folder (close)="isFolderFormOpen = false"></create-folder>
</ng-container>

<ng-container *ngIf="isOptionsModalOpen">
  <note-options
    (onClose)="isOptionsModalOpen = false"
    (onDelete)="isDeleteModalOpen = true; isOptionsModalOpen = false"
  ></note-options>
</ng-container>

<modal-delete
  *ngIf="isDeleteModalOpen"
  btnDeleteText="Delete note"
  warningText="If you delete this note, you can still find it in the bin"
  (onClose)="isDeleteModalOpen = false"
></modal-delete>
