<div class="main grid">
  <div
    class="sidebar grid"
    [ngClass]="{
      mobile_view_single_display: !currentRoutePathIsNotes,
      laptop_view_multi_display: !(isMobile | async) || currentRoutePathIsNotes
    }"
  >
    <div class="heading">
      <h1 #title>My Notes</h1>
      <div class="flex align-c">
        <div class="search">
          <search></search>
        </div>
        <div class="flex action-btns">
          <div
            role="button"
            class="icon"
            (click)="
              isCreateNoteFormOpen = true;
              eventService.documentIsScrollable = false
            "
          >
            <img
              src="assets/icon-svgs/add-file.svg"
              alt="Add file"
              title="Add file"
            />
          </div>
          <div
            role="button"
            class="icon"
            (click)="
              isCreateFolderFormOpen = true;
              eventService.documentIsScrollable = false
            "
          >
            <img
              src="assets/icon-svgs/add-folder.svg"
              alt="Add folder"
              title="Add folder"
            />
          </div>
        </div>
      </div>
      <p class="directory">root/</p>
    </div>

    <div class="notes">
      <ng-container *ngIf="noteService.notes">
        <ng-container *ngFor="let note of notes(); trackById">
          <note-card
            [note]="note"
            (deleteNote)="deleteNote($event)"
            (onTogglePin)="noteService.togglePin($event)"
            [pinned]="noteService.notePinned(note)"
            (openOptions)="
              isOptionsModalOpen = true;
              eventService.documentIsScrollable = false;
              noteService.selectedNoteId.set(note.id);
              noteService.selectedNoteTitle.set(note.title)
            "
          ></note-card>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div
    class="editor-container"
    [ngClass]="{
      mobile_view_single_display: currentRoutePathIsNotes,
      laptop_view_multi_display: !(isMobile | async)
    }"
  >
    <router-outlet></router-outlet>
  </div>
</div>

<ng-container *ngIf="isCreateNoteFormOpen">
  <create-note
    (close)="
      isCreateNoteFormOpen = false; eventService.documentIsScrollable = true
    "
    (submit)="
      noteService.createNote($event);
      isCreateNoteFormOpen = false;
      eventService.documentIsScrollable = true
    "
  ></create-note>
</ng-container>

<ng-container *ngIf="isCreateFolderFormOpen">
  <create-folder
    (close)="
      isCreateFolderFormOpen = false; eventService.documentIsScrollable = true
    "
  ></create-folder>
</ng-container>

<ng-container *ngIf="isOptionsModalOpen">
  <note-options
    (onClose)="
      isOptionsModalOpen = false; eventService.documentIsScrollable = true
    "
    (onDelete)="
      isDeleteModalOpen = true;
      isOptionsModalOpen = false;
      eventService.documentIsScrollable = false
    "
    (onEditTitle)="
      isEditNoteTitleFormOpen = true;
      isOptionsModalOpen = false;
      eventService.documentIsScrollable = false
    "
  ></note-options>
</ng-container>

<ng-container *ngIf="isEditNoteTitleFormOpen">
  <edit-title
    formState="edit"
    [initialTitle]="noteService.selectedNoteTitle()"
    (close)="
      isEditNoteTitleFormOpen = false; eventService.documentIsScrollable = true
    "
    (submit)="
      noteService.selectedNoteTitle.set($event);
      noteService.editNoteTitle(
        noteService.selectedNoteId(),
        noteService.selectedNoteTitle()
      );
      isEditNoteTitleFormOpen = false;
      eventService.documentIsScrollable = true
    "
  ></edit-title>
</ng-container>

<modal-delete
  *ngIf="isDeleteModalOpen"
  btnDeleteText="Delete note"
  warningText="If you delete this note, you can still find it in the bin"
  (onClose)="
    isDeleteModalOpen = false; eventService.documentIsScrollable = true
  "
  (onDelete)="
    noteService.deleteNote(noteService.selectedNoteId());
    isDeleteModalOpen = false;
    eventService.documentIsScrollable = true
  "
></modal-delete>
