<div class="main grid">
  <div
    class="sidebar grid"
    [ngClass]="{
      mobile_view: !currentRoutePathIsNotes,
      laptop_view: !(isMobile | async) || currentRoutePathIsNotes
    }"
  >
    <div class="heading">
      <h1 #title>My Notes</h1>
      <div class="flex align-c">
        <div class="search">
          <search></search>
        </div>
        <div class="flex action-btns">
          <div
            role="button"
            class="icon"
            (click)="
              isCreateNoteFormOpen = true;
              eventService.documentIsScrollable = false
            "
          >
            <img
              src="assets/icon-svgs/add-file.svg"
              alt="Add file"
              title="Add file"
            />
          </div>
          <div
            role="button"
            class="icon"
            (click)="
              isCreateFolderFormOpen = true;
              eventService.documentIsScrollable = false
            "
          >
            <img
              src="assets/icon-svgs/add-folder.svg"
              alt="Add folder"
              title="Add folder"
            />
          </div>
        </div>
      </div>
      <p class="directory">root/</p>
    </div>

    <div class="notes">
      <ng-container *ngIf="noteService.notes">
        <ng-container *ngFor="let note of notes(); trackById">
          <note-card
            [note]="note"
            (deleteNote)="deleteNote($event)"
            (onTogglePin)="noteService.togglePin($event)"
            [pinned]="noteService.notePinned(note)"
            (openOptions)="
              isOptionsModalOpen = true;
              eventService.documentIsScrollable = false;
              noteService.selectedNote = note
            "
          ></note-card>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div
    class="editor-container"
    [ngClass]="{
      mobile_view: currentRoutePathIsNotes,
      laptop_view: !(isMobile | async)
    }"
  >
    <router-outlet></router-outlet>
  </div>
</div>

<create-note
  *ngIf="isCreateNoteFormOpen"
  (close)="
    isCreateNoteFormOpen = false; eventService.documentIsScrollable = true
  "
  (submit)="
    noteService.createNote($event);
    isCreateNoteFormOpen = false;
    eventService.documentIsScrollable = true
  "
></create-note>

<create-folder
  *ngIf="isCreateFolderFormOpen"
  (close)="
    isCreateFolderFormOpen = false; eventService.documentIsScrollable = true
  "
></create-folder>

<note-options
  *ngIf="isOptionsModalOpen"
  (onClose)="
    isOptionsModalOpen = false; eventService.documentIsScrollable = true
  "
  (onDelete)="
    isDeleteModalOpen = true;
    isOptionsModalOpen = false;
    eventService.documentIsScrollable = false
  "
  (onEditTitle)="
    isEditNoteTitleFormOpen = true;
    isOptionsModalOpen = false;
    eventService.documentIsScrollable = false
  "
></note-options>

<edit-title
  *ngIf="isEditNoteTitleFormOpen"
  formState="edit"
  [initialTitle]="noteService.selectedNote?.title"
  [noteId]="noteService.selectedNote?.id"
  (close)="
    isEditNoteTitleFormOpen = false; eventService.documentIsScrollable = true
  "
  (submit)="
    noteService.editNoteTitle($event);
    isEditNoteTitleFormOpen = false;
    eventService.documentIsScrollable = true
  "
></edit-title>

<modal-delete
  *ngIf="isDeleteModalOpen"
  btnDeleteText="Delete note"
  warningText="If you delete this note, you can still find it in the bin"
  (onClose)="
    isDeleteModalOpen = false; eventService.documentIsScrollable = true
  "
  (onDelete)="
    noteService.deleteNote(noteService.selectedNote?.id || '');
    isDeleteModalOpen = false;
    eventService.documentIsScrollable = true
  "
></modal-delete>
<fab-button [multiple]="true"></fab-button>
