<ng-container
  *ngIf="name == 'title'; then temp_title; else temp_tag"
></ng-container>

<ng-template #temp_title>
  <label [for]="name">{{ label }}</label>
  <div class="input-title-wrapper">
    <input type="text" [placeholder]="placeholder" [formControl]="formTitle" />
    <note-form-input-error [input]="formTitle"></note-form-input-error>
  </div>
</ng-template>

<ng-template #temp_tag>
  <label [for]="name">{{ label }}</label>
  <div class="tag-input">
    <input
      type="text"
      [placeholder]="placeholder"
      [formControl]="formTag"
      #tagInput
    />
    <button (click)="addTag()">
      <ng-icon name="ionAddOutline"></ng-icon>
    </button>
  </div>

  <div class="tags">
    <ng-container *ngFor="let tag of tags; trackByTagName">
      <ng-container
        *ngTemplateOutlet="temp_tags; context: { tag: tag }"
      ></ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #temp_tags let-tag="tag">
  <div class="flex tag align-c">
    <span>{{ tag }}</span>
    <ng-icon name="ionCloseCircle" (click)="deleteTag(tag)"></ng-icon>
  </div>
</ng-template>
