<div class="modal-backdrop flex align-c justify-c">
  <div class="form-container card">
    <h2>Create note</h2>
    <div class="form">
      <note-form-input
        [inputTitle]="'Add title'"
        [name]="'title'"
        [placeholder]="'Title'"
        (inputChange)="onInputChange($event)"
      ></note-form-input>
      <note-form-input
        [inputTitle]="'Add tag'"
        [name]="'tag'"
        [placeholder]="'Tag'"
        (addTag)="newTags($event)"
        (deleteTag)="newTags($event)"
      ></note-form-input>
      <ng-container [ngTemplateOutlet]="submitBtn"></ng-container>
    </div>
  </div>
  <ng-container [ngTemplateOutlet]="overlay"></ng-container>
</div>

<ng-template #submitBtn>
  <button (click)="onCreateNote()" [disabled]="title.invalid">
    Create note
  </button>
</ng-template>

<ng-template #overlay>
  <div class="overlay" (click)="onCancel()"></div>
</ng-template>
