<div class="editor-container">
  <div class="editor-heading" *ngIf="note">
    <div class="heading">
      <h1>{{ note.title | titlecase }}</h1>
    </div>
    <div class="note-info-table">
      <div class="date">
        <div class="date-title">
          <p>Last Modified</p>
        </div>
        <div class="date-content">
          <p>{{ note.date }}</p>
        </div>
      </div>
      <div class="note-tag row grid align-c">
        <div class="">
          <p class="note-tag-title">Tags</p>
        </div>
        <div class="note-tag-list flex align-c">
          <ng-container *ngIf="note.tags.length">
            <ul class="flex">
              <li *ngFor="let tag of note.tags" class="flex tag align-c">
                <span>{{ tag }}</span>
                <ng-icon
                  name="ionCloseCircle"
                  (click)="deleteTag(tag)"
                  class="close-icon"
                ></ng-icon>
              </li>
            </ul>
          </ng-container>

          <form inputTagToggle class="form-tag flex align-c">
            <ng-container *ngIf="eventService.$showTagInput | async">
              <input
                type="text"
                class="tag-input"
                placeholder="Type tag here"
                [formControl]="tagName"
              />
            </ng-container>

            <button
              class="add-tag flex align-c"
              (click)="addTag(); eventService.$showTagInput.next(true)"
            >
              <ng-icon name="ionAddOutline"></ng-icon>
              <span>Add new tag</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="editor">
    <ng-container *ngIf="form">
      <form [formGroup]="form">
        <ngx-editor-menu [editor]="editor" [toolbar]="editorToolbarConfig">
        </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [placeholder]="'Type here...'"
          formControlName="editorContent"
        ></ngx-editor>
        <div class="action-btns flex">
          <button
            class="btn-preview flex align-c justify-c"
            (click)="previewNote()"
          >
            <img src="assets/icon-svgs/eye-filled.svg" />

            <span> Preview </span>
          </button>
          <button
            class="btn-fullscreen flex align-c justify-c"
            (click)="noteService.openFullScreen = true"
          >
            <img src="assets/icon-svgs/full-screen-filled.svg" />

            <span>Open Fullscreen</span>
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="noteService.openFullScreen">
  <note-editor-fullscreen
    [editorToolbarConfig]="editorToolbarConfig"
    [content$]="contentChangeObserver$"
    (onPreview)="contentFromFullscreen_preview($event)"
    (onExitFullScreen)="
      this.form?.get('editorContent')?.patchValue($event);
      noteService.openFullScreen = false
    "
  ></note-editor-fullscreen>
</ng-container>
