<div class="editor-container">
  <div class="editor-heading" *ngIf="note">
    <div class="heading">
      <h1>{{ note.title | titlecase }}</h1>
    </div>
    <div class="note-info-table grid">
      <div class="row-2 row grid align-c">
        <div class="col-1">Last Modified</div>
        <div class="col-2 flex">
          <p>{{ note.date }}</p>
        </div>
      </div>
      <div class="row-3 row grid align-c">
        <div class="col-1">Tags</div>
        <div class="col-2 flex align-c">
          <ul class="flex">
            <li *ngFor="let tag of note.tags" class="flex tag align-c">
              <span>{{ tag }}</span>
              <ng-icon
                name="ionCloseCircle"
                (click)="deleteTag(tag)"
                class="close-icon"
              ></ng-icon>
            </li>
          </ul>
          <form inputTagToggle class="flex align-c">
            <input
              type="text"
              class="tag-input"
              id="tag-input"
              placeholder="Type tag here"
              [formControl]="tagName"
            />

            <button
              class="add-tag flex align-c"
              [disabled]="tagName.invalid"
              (click)="addTag()"
            >
              <ng-icon name="ionAddOutline"></ng-icon>
              <span>Add new tag</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="editor">
    <form [formGroup]="form">
      <ngx-editor-menu [editor]="editor" [toolbar]="editorToolbarConfig">
      </ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [placeholder]="'Type here...'"
        formControlName="editorContent"
      ></ngx-editor>
      <div class="action-btns flex">
        <button
          class="btn-preview flex align-c justify-c"
          [disabled]="form.invalid"
          (click)="previewNote()"
        >
          <img src="assets/icon-svgs/iconmonstr-eye-filled.svg" />

          <span> Preview </span>
        </button>
        <button
          class="btn-fullscreen flex align-c justify-c"
          [disabled]="form.invalid"
          (click)="previewNote()"
        >
          <img src="assets/icon-svgs/iconmonstr-full-screen-filled.svg" />

          <span>Edit Fullscreen</span>
        </button>
      </div>
    </form>
  </div>
</div>
