.modal-overlay {
  background: rgba(0, 0, 0, 0.519);
}

.options-container {
  position: relative;
  padding: 1rem;
  grid-template-rows: repeat(2, auto);
}

.options {
  height: 173px;
  background: var(--color-dark-shade);
  position: fixed;
  inset-inline: 0;
  bottom: 0;
}

img {
  filter: invert(1);
}

p.icon-name {
  color: var(--color-light);
  font-size: 0.8rem;
  margin-top: 0.4rem;
}

div.iconx2 {
  width: 20px;
  height: 20px;
}

.row {
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
}
