.side-navbar-container {
  grid-column: 1/2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.page-content {
  grid-column: 2/3;
}

button {
  background: transparent;
  border: transparent;
}
