<div
  sideMenuToggleEvent
  [menuOpen]="true"
  (closeMenu)="eventService.closeSideNavbar()"
  class="page"
>
  <div class="menu-toggle-icon-container">
    <button
      sideMenuToggleEvent
      [menuOpen]="false"
      (openMenu)="eventService.openSideNavbar()"
      #menuBtn
    >
      <ng-icon name="ionMenuOutline"></ng-icon>
    </button>
  </div>

  <div class="main-container grid">
    <div class="side-navbar-container">
      <app-side-navbar
        [profileCssClasses]="'side-navbar-profile-card--mobile'"
        [navbarTabCssClasses]="'side-navbar-navtab--mobile'"
        [searchCssClasses]="'side-navbar-search--mobile'"
        [navbarFooterCssClasses]="'side-navbar-footer--mobile'"
      ></app-side-navbar>
      <app-side-navbar
        #sideNavbar
        [sideNavbarCssClasses]="'side-navbar--mobile'"
        sideMenuToggleEvent
        [menuOpen]="false"
      ></app-side-navbar>
    </div>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
