<div class="header">
  <h1>Welcome Writer</h1>
  <p>
    Welcome to our new note app! We're excited to have you on board. This app is
    designed to help you stay organized and productive by providing various
    features such as note-taking, journaling, to-do lists, project management,
    and a reading list. Let's take a closer look at each feature:
  </p>
</div>

<ul class="flex align-c">
  <li>
    <p><b>Note:</b></p>
    <p>
      The note-taking feature allows you to quickly jot down your thoughts,
      ideas, or any information you need to remember. You can create multiple
      notes, organize them into folders or categories, and easily search for
      specific notes when needed. With a clean and intuitive interface, taking
      notes has never been easier!
    </p>
  </li>
  <li>
    <p><b>Todo List:</b></p>
    <p>
      Stay on top of your tasks and boost your productivity with the to-do list
      feature. You can create task lists, set due dates, and prioritize your
      tasks. Our app allows you to break down complex projects into smaller,
      manageable tasks, ensuring that nothing falls through the cracks. You can
      also set reminders to ensure you never miss an important deadline.
    </p>
  </li>
  <li>
    <p><b>Project Management:</b></p>
    <p>
      For those who need to manage more extensive tasks or projects, our app
      offers a project management feature. You can create projects, assign tasks
      to team members, set milestones, and track progress. Collaborate
      seamlessly with colleagues by sharing project details and updates,
      ensuring everyone stays aligned and informed.
    </p>
  </li>
  <li>
    <p><b>Journal:</b></p>
    <p>
      The journal feature provides a space for you to reflect, express your
      thoughts, and document your daily experiences. Whether you want to keep a
      personal journal, a gratitude journal, or a work journal, you can create
      entries, add tags, and even attach photos to capture your memories. Our
      app offers a calendar view, making it easy to navigate through your
      journal entries and relive those special moments.
    </p>
  </li>
  <li>
    <p><b>Reading List:</b></p>
    <p>
      If you love reading, our reading list feature will be your new best
      friend. Keep track of the books you want to read, mark those you've
      finished, and rate or review them. You can also discover new books by
      exploring curated lists and recommendations. Our app syncs with popular
      book databases, providing you with book details, summaries, and even cover
      images.
    </p>
  </li>
</ul>
