<div class="main grid">
  <div class="sidebar">
    <h1>My Notes</h1>
    <button
      class="form-modal-toggle-button flex align-c"
      (click)="formOpen = true"
    >
      <ng-icon name="ionAddOutline"></ng-icon>
      <span>Add new note</span>
    </button>
    <ng-container *ngIf="noteService.notes">
      <note-card
        *ngFor="let note of noteService.notes"
        [note]="note"
        (deleteNote)="deleteNote($event)"
      ></note-card>
    </ng-container>
  </div>
  <div class="editor-container">
    <router-outlet></router-outlet>
  </div>
  <ng-container *ngIf="formOpen">
    <note-form
      (cancel)="formOpen = $event"
      (createNote)="noteService.createNote($event); formOpen = false"
      (deleteNote)="noteService.deleteNote($event)"
    ></note-form>
  </ng-container>
</div>
