<div class="card" *ngIf="note" routerLinkActive="active">
  <div class="header flex align-c justify-between">
    <div class="flex-col-1 flex flex-column">
      <ng-container *ngIf="note.badge">
        <div class="badge flex">
          <span>Guide</span>
        </div>
      </ng-container>
      <span class="date">
        <b>{{ note.date }}</b>
      </span>
    </div>
    <div class="flex-col-2 flex">
      <div class="icon" role="button" (click)="onTogglePin.emit(note)">
        <ng-container *ngIf="!pinned">
          <img src="assets/icon-svgs/pin.svg" />
        </ng-container>
        <ng-container *ngIf="pinned">
          <img src="assets/icon-svgs/pin-filled.svg" />
        </ng-container>
      </div>
      <div class="menu">
        <img src="assets/icon-svgs/menu-dot-vertical-filled.svg" />
      </div>
      <!-- <button class="delete" (click)="onDelete(note)">Delete</button> -->
    </div>
  </div>
  <div
    class="content"
    [routerLink]="'/notes/note/preview/' + note.id"
    role="button"
  >
    <h3 class="title">{{ note.title | titlecase }}</h3>
    <p class="content body">{{ convertHtmlToText(note.content) }}</p>
    <div class="footer tags flex">
      <span class="tag" *ngFor="let tag of getNumberOfTags(2)">{{ tag }}</span>
      <span class="tag" *ngIf="tagReminder">+{{ tagReminder }} more</span>
    </div>
  </div>
</div>
