.form-container {
  background: #fff;
  width: 450px;
}

h2 {
  text-align: center;
}

.modal-backdrop {
  overflow: hidden;
  position: fixed;
  inset: 0;

  .overlay {
    z-index: -1;
    cursor: pointer;
  }
}

button {
  background: var(--color-dark);
  color: var(--color-light);
  border: transparent;
  border-radius: 50px;
  margin-inline: auto;
  display: block;
  padding: 0.6rem 1.4rem;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
