.fab-group {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.audio-loader {
  img {
    width: 30px;
    height: auto;
  }
}

.audio-loader {
  background: #000000d9;
  inset: 0;
  display: grid;
  place-items: center;
}

.fab,
.fab-item,
.fab-drawer,
.audio-loader {
  border-radius: 50%;
}

.fab,
.fab-item,
.fab-drawer {
  background: var(--color-dark);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab-drawer,
.fab-item,
.audio-loader {
  position: absolute;
}

.fab {
  position: relative;

  .fab-item {
    opacity: 0;
  }

  .icon-speaker {
    transform: rotate(-180deg);
  }

  .fab-drawer {
    .icon {
      transition: all 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: rotate(0);
    }
  }
}

.fab[aria-pressed="true"] {
  .fab-item {
    animation: slideOut 0.45s cubic-bezier(0.075, 0.82, 0.165, 1)
      var(--fab-item-delay) forwards;
  }

  .fab-drawer {
    .icon {
      transform: rotate(44deg);
    }
  }
}

.fab[aria-pressed="false"] {
  .fab-item {
    animation: slideIn 0.45s cubic-bezier(0.075, 0.82, 0.165, 1)
      var(--fab-item-delay) forwards;
  }

  .fab-drawer {
    .icon {
      transform: rotate(0);
    }
  }
}

@keyframes slideOut {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(var(--fab-item-distance));
  }
}

@keyframes slideIn {
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes rotate44 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(44deg);
  }
}
