img {
  width: 25px;
}

.icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: var(--color-dark);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
