/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Montserrat&display=swap");

:root {
  --color-light: #f4f5f8;
  --color-dark-contrast: #ffffff;
  --color-lighter: #f3f3f3;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9;
  --color-mild: #ecedef;
  --color-medium: #92949c;
  --color-medium-shade: #808289;
  --color-medium-tint: #9d9fa6;
  --color-dark: #000000;
  --color-dark-tint: #1a1a1a;
  --color-dark-shade: #383838;
  --color-danger: #dc143c;
  --color-tertiary: #4827a8;
  --bg-hero: #5f25b9;
}

*,
*::after,
*::after {
  box-sizing: border-box;
}

.main {
  overflow-x: hidden;
  max-width: 1440px;
  margin-inline: auto;
}

img {
  width: 100%;
  object-fit: cover;
}

* {
  font-family: Montserrat, Poppins, "Alegreya Sans", "Segoe UI", Tahoma, Geneva,
    Verdana, sans-serif;

  line-height: 1.7;
}

*:not(.previewer *) {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

ng-icon {
  line-height: initial;
}

input {
  font-size: 1rem;
}

button {
  cursor: pointer;
}

[role="button"] {
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.iconx2 {
  width: 48px;
  height: 48px;
}

.img-inverted {
  filter: invert(1);
}

.page {
  min-width: 320px;
  overflow-x: hidden;
}

.modal {
  overflow: hidden;
  position: fixed;
  inset: 0;
  z-index: 2;
}

.card,
.form-modal-toggle-button {
  padding-block: 0.8rem;
  padding-inline: 1rem;
  border-radius: 5px;
}

.bg-card--light {
  background: #ffff;
}

.flex-column {
  flex-direction: column;
}

.bg-card--light-tint {
  background: var(--color-light-tint);
}

.link {
  background: transparent;
  color: var(--color-medium);
}

.active {
  background: #ffff;
  color: unset;

  ng-icon {
    color: var(--color-tertiary);
  }
}

.justify-c {
  justify-content: center;
}

.align-c {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-even {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

a {
  cursor: pointer;
}

.editor {
  grid-column: 2/3;
}

.form-modal-toggle-button {
  background: var(--color-light-tint);
  margin-bottom: 0.7rem;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  margin-top: 1.85rem;
}

.form-modal-toggle-button {
  span {
    margin-left: 1rem;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background: var(--color-light-shade);
  opacity: 0.5;
}

.tags {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  background: var(--color-medium-tint);
  color: var(--color-medium);
  font-weight: 600;
  padding: 0.2rem 1rem;
  color: var(--color-dark-shade);
  border-radius: 3px;
  background: #c1c1c159;
  font-size: 0.7rem;
  line-height: 2;
  position: relative;

  ng-icon {
    position: absolute;
    right: 0;
    top: -5px;
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(1);

    &:hover {
      transform: scale(1.2);
    }
  }
}

// Mobile styles for mobile
.main {
  display: block;

  .side-navbar--mobile-active {
    display: block;
  }

  .sidebar {
    height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
  }
}

.mobile_view_single_display {
  display: none;
}

.page-content {
  grid-column: 1/2;
}

.side-navbar:not(.side-navbar--mobile) {
  display: none;
}

.side-navbar--mobile {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 4;
  border-right: 1px solid #e7e7e7;
  display: none;
}

.side-navbar--mobile-active {
  display: block;
}

.main-container {
  grid-template-columns: auto 1fr;
  padding-top: 4.5rem;
}

.side-navbar-container {
  isolation: isolate;
  z-index: 2;
}

.menu-toggle-icon-container {
  padding: 1rem;
  position: fixed;
  background: var(--color-light);
  inset-inline: 0;
  top: 0;
  left: 0;
  z-index: 2;

  ng-icon {
    font-size: 2rem;
  }

  &:hover {
    .side-navbar--mobile {
      opacity: 1;
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .menu-toggle-icon-container {
    display: none;
  }

  .main-container {
    grid-template-columns: 95px 1fr;
    padding-top: 0;
  }

  .page-content {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .side-navbar:not(.side-navbar--mobile) {
    display: flex;

    .side-navbar-tabs {
      gap: 0.8rem;
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-height: 574px) {
    .side-navbar:not(.side-navbar--mobile) {
      overflow-y: scroll;
    }
  }

  .side-navbar-container {
    &:hover {
      position: relative;
      z-index: 2;
      .side-navbar--mobile {
        transform: scaleX(1);
        opacity: 1;
      }
    }
  }

  .side-navbar--mobile {
    width: 300px;
    transform: scaleX(0.2);
    transform-origin: left;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    display: block;
  }

  .side-navbar-profile-card--mobile {
    justify-content: center;

    p,
    ng-icon {
      display: none;
    }
  }

  .side-navbar-navtab--mobile {
    justify-content: center;
    span {
      display: none;
    }
  }

  .side-navbar-search--mobile {
    justify-content: center;

    input {
      display: none;
    }

    ng-icon {
      visibility: visible !important;
    }
  }

  .side-navbar-footer--mobile {
    a {
      justify-content: center;
    }

    span {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .laptop_view_multi_display {
    display: block;
  }

  .main {
    display: grid;
    grid-template-columns: auto 1fr;

    // .inactive {
    //   display: block;
    // }
  }

  .sidebar {
    width: 23rem;
    position: sticky;
    left: 0;
    top: 0;
  }
}

@media (max-width: 425px) {
  .d-none {
    display: none !important;
  }

  .flex-sidebar--mobile {
    display: flex !important;
  }
}
