<note-form
  (onSubmit)="submit.emit($event)"
  (onClose)="close.emit()"
  buttonText="Create note"
  headingText="Create Note"
  [inputChanges]="title"
  [addTag]="tags"
>
  <ng-container body>
    <note-form-input
      [inputTitle]="'Title'"
      [name]="'title'"
      [placeholder]="'Title'"
      (onInputChange)="title = $event"
    ></note-form-input>
    <note-form-input
      [inputTitle]="'Add tag'"
      [name]="'tag'"
      [placeholder]="'Tag'"
      (onAddTag)="tags = $event"
      (onDeleteTag)="tags = $event"
    ></note-form-input>
  </ng-container>
</note-form>
