<note-form
  (create)="onCreateNote($event)"
  (cancel)="onCancel($event)"
  buttonText="Create note"
  headingText="Create Note"
  [inputChanges]="title"
  [addTag]="tags"
>
  <ng-container body>
    <note-form-input
      [inputTitle]="'Title'"
      [name]="'title'"
      [placeholder]="'Title'"
      (inputChange)="onInputChange($event)"
    ></note-form-input>
    <note-form-input
      [inputTitle]="'Add tag'"
      [name]="'tag'"
      [placeholder]="'Tag'"
      (addTag)="newTags($event)"
      (deleteTag)="newTags($event)"
    ></note-form-input>
  </ng-container>
</note-form>
